<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
    <extension-point id="splashExtension" name="Splash Extensions" schema="schema/splashExtension.exsd"/>

    <extension
            id="application"
            point="org.eclipse.core.runtime.applications">
        <application>
            <run
                    class="fr.cm.scorexpress.rcp.Application">
            </run>
        </application>
    </extension>
    <extension
            id="product"
            point="org.eclipse.core.runtime.products">
        <product
                application="fr.cm.scorexpress.rcp.application"
                name="ScoreXPress">
            <property
                    name="windowImages"
                    value="icons/logo16x16.gif,icons/logo32x32.gif">
            </property>
            <property
                    name="appName"
                    value="ScoreXPress">
            </property>
            <property
                    name="aboutImage"
                    value="icons/About.gif">
            </property>
            <property
                  name="aboutText"
                  value="Logiciel de calcul des résultats\n&#x0A;d&apos;une épreuve sportive de type RAID\n&#x0A;\n\n&#x0A;http://www.jurazimut.com\n&#x0A;contact: chronosraid@gmail.com\n">
            </property>
        </product>
    </extension>
    <extension
            point="org.eclipse.ui.intro">
        <intro
                class="org.eclipse.ui.intro.config.CustomizableIntroPart"
                id="fr.cm.scorexpress.rcp.intro">
        </intro>
        <introProductBinding
                introId="fr.cm.scorexpress.rcp.intro"
                productId="fr.cm.scorexpress.rcp.product">
        </introProductBinding>
    </extension>
    <extension
            point="org.eclipse.ui.intro.config">
        <config
                introId="fr.cm.scorexpress.rcp.intro"
                content="introContent.xml"
                id="fr.cm.scorexpress.rcp.configId">
            <presentation
                    home-page-id="root">
                <implementation
                        kind="html"
                        os="win32,linux,macosx">
                </implementation>
            </presentation>
        </config>
    </extension>
    <extension
            point="org.eclipse.ui.intro.configExtension">
        <configExtension
                content="ext.xml"
                configId="fr.cm.scorexpress.rcp.configId">
        </configExtension>
    </extension>
    <extension
            point="org.eclipse.ui.commands">
        <command
                defaultHandler="fr.cm.scorexpress.commands.OpenHandler"
                id="fr.cm.scorexpress.commands.open"
                name="Open">
        </command>
        <command
                defaultHandler="fr.cm.scorexpress.commands.SaveHandler"
                id="fr.cm.scorexpress.commands.save"
                name="Save">
        </command>
        <command
                id="fr.cm.scorexpress.commands.close"
                name="Close">
        </command>
        <command
                defaultHandler="fr.cm.scorexpress.commands.NewHandler"
                id="fr.cm.scorexpress.commands.New"
                name="New">
        </command>
    </extension>
    <extension
            point="org.eclipse.ui.menus">
        <menuContribution
                locationURI="menu:org.eclipse.ui.main.menu">
            <menu
                    id="fileMenu"
                    label="File"
                    mnemonic="F">
                <command
                        commandId="fr.cm.scorexpress.commands.New"
                        label="New..."
                        style="push"
                        tooltip="New manifestation">
                </command>
                <command
                        commandId="fr.cm.scorexpress.commands.open"
                        icon="icons/open.gif"
                        id="open"
                        label="Open"
                        mnemonic="O"
                        style="push"
                        tooltip="Open manifestation">
                </command>
                <command
                        commandId="fr.cm.scorexpress.commands.save"
                        id="save"
                        label="Save"
                        style="push">
                </command>
                <command
                        commandId="fr.cm.scorexpress.commands.close"
                        icon="icons/close.gif"
                        id="close"
                        label="Close"
                        mnemonic="C"
                        style="push"
                        tooltip="Close manifestation">
                </command>
                <separator
                        name="file.separator">
                </separator>
                <command
                        commandId="org.eclipse.ui.file.exit"
                        icon="icons/exit.png"
                        id="exit"
                        label="Exit"
                        mnemonic="E"
                        style="push">
                </command>
            </menu>
            <menu
                    id="edit"
                    label="Edit"
                    mnemonic="E">
                <command
                        commandId="org.eclipse.ui.edit.copy"
                        id="copy"
                        label="Copy"
                        style="push">
                </command>
                <command
                        commandId="org.eclipse.ui.edit.cut"
                        id="cut"
                        label="Cut"
                        style="push">
                </command>
                <command
                        commandId="org.eclipse.ui.edit.paste"
                        id="paste"
                        label="Paste"
                        style="push">
                </command>
            </menu>
            <menu
                    id="additions"
                    label="Additions">
            </menu>
            <menu
                    label="Window"
                    mnemonic="W">
                <command
                        commandId="org.eclipse.ui.perspectives.showPerspective"
                        label="Show perspective"
                        style="push">
                </command>
                <command
                        commandId="org.eclipse.ui.views.showView"
                        label="Show views"
                        style="push">
                </command>
                <separator
                        name="window.separator"
                        visible="true">
                </separator>
                <command
                        commandId="org.eclipse.ui.window.preferences"
                        label="Preferences"
                        style="push">
                </command>
            </menu>
            <menu
                    id="help"
                    label="Help"
                    mnemonic="H">
                <command
                        commandId="org.eclipse.ui.help.helpContents"
                        label="Help"
                        mnemonic="H"
                        style="push">
                </command>
                <command
                        commandId="org.eclipse.ui.help.aboutAction"
                        label="About"
                        mnemonic="A"
                        style="push">
                </command>
            </menu>
        </menuContribution>
        <menuContribution
                locationURI="toolbar:org.eclipse.ui.main.toolbar">
            <toolbar
                    id="fileToolbar">
                <command
                        commandId="fr.cm.scorexpress.commands.open"
                        icon="icons/open.gif"
                        id="open"
                        label="Open"
                        mnemonic="O"
                        style="push"
                        tooltip="Open manifestation">
                </command>
                <command
                        commandId="fr.cm.scorexpress.commands.save"
                        icon="icons/save.png"
                        id="save"
                        style="push"
                        tooltip="Save manifestation">
                </command>
                <command
                        commandId="fr.cm.scorexpress.commands.close"
                        icon="icons/close.gif"
                        id="close"
                        label="Close"
                        mnemonic="C"
                        style="push"
                        tooltip="Close manifestation">
                </command>
                <command
                        commandId="fr.cm.scorexpress.commands.exit"
                        icon="icons/exit.png"
                        id="exit"
                        label="Exit"
                        mnemonic="E"
                        style="push"
                        tooltip="Quit">
                </command>
            </toolbar>
            <toolbar
                    id="edit">
                <command
                        commandId="org.eclipse.ui.edit.copy"
                        label="Copy"
                        style="push">
                </command>
                <command
                        commandId="org.eclipse.ui.edit.cut"
                        label="Cut"
                        style="push">
                </command>
                <command
                        commandId="org.eclipse.ui.edit.paste"
                        label="Paste"
                        style="push">
                </command>
            </toolbar>
        </menuContribution>
    </extension>
    <extension
            point="org.eclipse.ui.splashHandlers">
        <splashHandler
                class="fr.cm.scorexpress.rcp.splashHandlers.ExtensibleSplashHandler"
                id="fr.cm.scorexpress.rcp.splashHandlers.extensible">
        </splashHandler>
        <splashHandlerProductBinding
                productId="fr.cm.scorexpress.rcp.product"
                splashId="fr.cm.scorexpress.rcp.splashHandlers.extensible">
        </splashHandlerProductBinding>
        <splashHandler
                class="fr.cm.scorexpress.rcp.splashHandlers.BrowserSplashHandler"
                id="fr.cm.scorexpress.rcp.splashHandlers.browser">
        </splashHandler>
    </extension>
    <extension
            point="fr.cm.scorexpress.rcp.splashExtension">
        <splashExtension
                icon="icons/af.png"
                id="af"
                tooltip="Application Framework">
        </splashExtension>
        <splashExtension
                icon="icons/embedded.png"
                id="embedded"
                tooltip="Embedded">
        </splashExtension>
        <splashExtension
                icon="icons/enterprise.png"
                id="enterprise"
                tooltip="Enterprise">
        </splashExtension>
        <splashExtension
                icon="icons/languages.png"
                id="languages"
                tooltip="Languages">
        </splashExtension>
        <splashExtension
                icon="icons/rcp.png"
                id="rcp"
                tooltip="RCP">
        </splashExtension>
    </extension>
    <extension
            point="org.eclipse.ui.perspectives">
        <perspective
                class="fr.cm.scorexpress.rcp.Perspective"
                icon="icons/logo16x16.gif"
                id="fr.cm.scorexpress.rcp.perspective"
                name="name">
        </perspective>
    </extension>

</plugin>
