<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

    <extension point="org.eclipse.emf.ecore.generated_package">
        <package
                uri="http://fr/cm/scorexpress/core"
                class="fr.cm.scorexpress.core.scorexpress.model.ScorexpressPackage"
                genModel="model/scorexpress.genmodel"/>
    </extension>

</plugin>
